* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Rubik Mono One';
    font-weight: 500;

}

body {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);

}

h1 {
    color: rgb(221, 0, 0);
    margin-top: .3em;
    padding-bottom: 0;

}
#game {
    width: 450px;
    height: 450px;
    background-color: black;
    margin: 25px auto 0 auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    outline: 0.5px solid white;
}

#background {
    width: 450px;
    height: 450px;
    position: absolute;
    z-index: 1;
}

#startButton {
    height: 60px;
    width: 150px;
    font-size: 125%;
    font-weight: 100;
    color: white;
    background-color: red;
    position: absolute;
    top: 45%;
    left:  43%;
    z-index: 2;
}

#directions {
    background-color: black;
    color: white;
    position: relative;
    z-index: 2;
}

#playAgain {
    height: 40px;
    background-color: white;
    width: 40%;
    font-size: 1em;
    position: relative;
    top: 65%;
    left: 29%;
    display: none;
    z-index: 2;

}

#points, #highScore {
    font-size: 1.55em;
}



#gameOver {
    color: white;
    font-size: 2.5em;
    font-weight: 400;
    position: relative;
    top: 40%;
    display: none;
    z-index: 2;


}

#countdown {
    color: white;
    font-size: 4em;
    position: absolute;
    top: 30%;
    left: 47%;
    display: none;
    z-index: 2;

    
}

 
#character { 
    background-color: yellow;
    width: 50px;
    height: 50px;
    position: relative;
    top: 400px;
    left: 350px;
    z-index: 3;
    display: none;


}


#ball1 {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: -100px;
    animation: slide 1.5s linear infinite;
    display: none;
    z-index: 2;

}

#ball2 {
     background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: -100px;
    animation: slide2 2s linear infinite;
    display: none;
    z-index: 2;


}

#ball3 {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: -100px;
    animation: slide3 2s linear infinite;
    display: none;
    z-index: 2;


}

#ball4 {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: -200px;
    animation: slide4 1.9s linear infinite;
    display: none;
    z-index: 2;


}

#ball5 {
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    animation: slide5 1.7s linear infinite;
    display: none;
    z-index: 2;


}


@keyframes slide {
    0% { top: -50px; }
    100% { top: 400px; }
}

@keyframes slide2 {
    0% { top: -100px; }
    100% { top: 350px; }
}

@keyframes slide3 {
    0% { top: -150px; }
    100% { top: 300px; }
}

@keyframes slide4 {
    0% { top: -200px; }
    100% { top: 250px; }
} 

@keyframes slide5 {
    0% { top: -250px; }
    100% { top: 200px; }
}




#wall {
    background-color: white;
    height: 10%;
    width: 450px;
    z-index: 1;
    outline: 0.5px solid white;

}





