* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Rubik Mono One';
    font-weight: 500;
    outline: 1px solid red;

}

body {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#game {
    width: 900px;
    height: 900px;
    background-color: black;
    margin: 50px auto 0 auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#background {
    width: 900px;
    height: 900px;
    position: absolute;
    z-index: 1;
}

#startButton {
    height: 120px;
    width: 300px;
    font-size: 250%;
    font-weight: 100;
    color: white;
    background-color: red;
    position: absolute;
    top: 45%;
    left: 39%;
    z-index: 2;
}

#playAgain {
    height: 80px;
    width: 40%;
    font-size: 2em;
    position: relative;
    top: 65%;
    left: 29%;
    display: none;
    z-index: 2;

}

#points, #highScore {
    font-size: 2.5em;
}



#gameOver {
    color: white;
    font-size: 5em;
    font-weight: 400;
    position: relative;
    top: 50%;
    display: none;
    z-index: 2;


}

#countdown {
    color: white;
    font-size: 8em;
    position: relative;
    top: 40%;
    display: none;
    z-index: 2;

    
}

 
#character { 
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: relative;
    top: 800px;
    left: 350px;
    z-index: 3;


}


#ball1 {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -100px;
    animation: slide 1.5s linear infinite;
    display: none;
    z-index: 2;

}

#ball2 {
     background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -100px;
    animation: slide2 2s linear infinite;
    display: none;
    z-index: 2;


}

#ball3 {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -100px;
    animation: slide3 2s linear infinite;
    display: none;
    z-index: 2;


}

#ball4 {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -100px;
    animation: slide4 1.9s linear infinite;
    display: none;
    z-index: 2;


}

#ball5 {
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -100px;
    animation: slide5 1.7s linear infinite;
    display: none;
    z-index: 2;


}


@keyframes slide {
    0% { top: -100px; }
    100% { top: 800px; }
}

@keyframes slide2 {
    0% { top: -200px; }
    100% { top: 700px; }
}

@keyframes slide3 {
    0% { top: -300px; }
    100% { top: 600px; }
}

@keyframes slide4 {
    0% { top: -400px; }
    100% { top: 500px; }
}

@keyframes slide5 {
    0% { top: -500px; }
    100% { top: 400px; }
}




#wall {
    background-color: white;
    height: 10%;
    width: 100%;
    z-index: 1;
}





